<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da CIPA</title>
    <meta name="author" content="Gabriel Roberto da Silva">
    <meta name="description" content="Jogo desenvolvido com o intuito de coletar dados sobre conhecimento de segurança dos trabalhadores no ambiente de trabalho">

   <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Bem Vindo a Jogo da CIPA Fluipress</h1Bem>
    </header>

    <main>
        <a href="/jogo"><button id="start_btn" type="button">Iniciar Jogo</button></a>
    </main>

    <footer>© by Gabriel Roberto da Silva</footer>
</body>
</html>